<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Editar Autor</h1>    
    <a href="/">Menu</a>
    <a href="/autores">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarAutor}" th:object="${autor}" method="POST" id="formAutor">
      
        <label>ID:</label> <span th:text="${autor.id}"></span>
        <br>
        <input type="hidden" th:value="${autor.id}" th:field="${autor.id}" name="id" />
      
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${autor.nome}" name="nome" required/>
		<br>  
		
		<label>Idade:</label>
        <input type="number" placeholder="Digite a idade" th:value="${autor.idade}" name="idade" required/>
		<br>  

		<label>Nacionalidade:</label>
        <input type="text" placeholder="Digite a nacionalidade" th:value="${autor.nacionalidade}" name="nacionalidade" required/>
		<br>  
		
		<label>Ocupação:</label>
        <input type="text" placeholder="Digite a ocupação" th:value="${autor.ocupacao}" name="ocupacao" required/>
        <br>  
		

        <!-- <label>Curso:</label>
        <select th:field="${aluno.curso}" required>
            <option value="">Escolha o curso</option>
            <option th:each="curso : ${cursos}"
                        th:value="${curso.id}"
                        th:text="${curso.nome}">
            </option>
        </select> -->

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>
    
</body>

</html>