<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Editar Livro</h1>    
    <a href="/">Menu</a>
    <a href="/livros">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarLivro}" th:object="${livro}" method="POST" id="formLivro">
      
        <label>ID:</label> <span th:text="${livro.id}"></span>
        <br>
        <input type="hidden" th:value="${livro.id}" th:field="${livro.id}" name="id" />
      
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${livro.nome}" name="nome" required/>
		<br>  
		
		<label>Edição:</label>
        <input type="number" placeholder="Digite a edição" th:value="${livro.edicao}" name="edicao" required/>
		<br>  

		<label>Quantidade de páginas:</label>
        <input type="number" placeholder="Digite a quantidade de páginas" th:value="${livro.qtde_paginas}" name="qtde_paginas" required/>
		<br>  
		
		<label>Categoria:</label>
        <input type="text" placeholder="Digite a categoria" th:value="${livro.categoria}" name="categoria" required/>
        <br>  
        
        <input type="hidden" th:value="${livro.autores}" th:field="${livro.autores}" name="autores" />

        <label>Editora:</label>

         <select th:field="${livro.editora}" required>
            <option value="">Escolha a editora</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">
            </option>
        </select> 

        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Nacionalidade</th>
                <th>Ocupação</th>
                <th>Remover</th>
            </tr>
           
            <tr th:each="autor : ${livro.autores}">
                <td th:text="${autor.id}"></td>
                <td th:text="${autor.nome}"></td>
                <td th:text="${autor.idade}"></td>
                <td th:text="${autor.nacionalidade}"></td>
                <td th:text="${autor.ocupacao}"></td>
                <!-- <td th:text="${autor.livro?.nome}"></td> -->
                <td> <a th:href="@{'/removerLivroAutor/' + ${livro.id} + '/' + ${autor.id}}">Remover</a></td>
                
            </tr>
        </table>

        

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>
    
</body>

</html>